body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.top-container {
    width: 1321px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    background: #161616;
    border-radius: 30px;
}

.header-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

/* start header-section-left style */
.header-section-left {
    margin: 111px 0 111px 106px;
}

.header-section-left-heading {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

.header-section-left-paragraph {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-right: 49px;
}

.header-section-left-button {
    width: 187px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    color: #FFFFFF;
}

.watch-button a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

}

/* Ended header-section-left style */

/* start header-section-right style */

.header-section-right {
    margin-top: 33px;
    margin-right: 80px;
}

.header-section-right img {
    width: 100%;
    height: 100%;
}

/* Ended header-section-right style */

/* main section */
.middle-section-part {
    width: 1320px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 312px, repeat(3, 312px);
    margin-top: 130px;
    margin-left: 140px;
    margin-right: 140px;
}

/* side bar css */
.main-side-navigation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: #161616;
    border-radius: 10px;
    height: 312px;
}

.side-nav a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    margin: 30px;
}

.upcoming-all-blog-btn {
    padding: 17px 39px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    color: #161616;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#blog-btn {
    background-color: #DD0000;
    color: #FFFFFF;
}

/* blog 1 css */
.main-multipal-player-column-one {
    grid-column: 2 / 3;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* blog image style */
.blog-banner img {
    width: 100%;
}

/* blog details style */
.blog-details {
    margin-left: 20px;
    margin-top: 20px;
}

/* transfer button style */
.transfer-btn {
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 5px;
    font-size: 16px;
    color: #161616;
    padding: 4px 16px;
}

.details-heading {
    font-weight: 600;
    font-size: 23px;
    color: #161616;
    margin-top: 15px;
}

.blog-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

/* blog 2 css */
.main-multipal-player-column-two {
    grid-column: 3 / 4;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* blog 3 css */
.main-multipal-player-column-three {
    grid-column: 4 / 5;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* blog 4 css */
.main-multipal-player-column-four {
    grid-column: 2 / 3;
    grid-row: 2;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* blog 5 css */
.main-multipal-player-column-five {
    grid-column: 3 / 4;
    grid-row: 2;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* blog 6 css */
.main-multipal-player-column-six {
    grid-column: 4 / 5;
    grid-row: 2;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* blog 7 css */
.main-multipal-player-column-seven {
    grid-column: 2 / 3;
    grid-row: 3;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* blog 8 css */
.main-multipal-player-column-eight {
    grid-column: 3 / 4;
    grid-row: 3;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* blog 9 css */
.main-multipal-player-column-nine {
    grid-column: 4 / 5;
    grid-row: 3;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* footer section style */
.main-footer {
    background-color: #161616;
}

.footer-section-heading {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 140px;
    margin-right: 140px;
}

.footer-header {
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 130px;
}

.footer-section-button {
    padding: 50px 0 130px 0;
    text-align: center;
}

.footer-section-button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9B9;
    padding: 0 15px;
}

/* media query for header section for mobile view  */

@media only screen and (max-width: 688px) {
    .top-container {
        width: 100%;
        margin: 44px 20px 0 20px;
    }

    .header-section {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 21px;
    }

    .header-section-left {
        margin: 28px 38px 0 38px;
    }

    .header-section-left-heading {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        padding: 0 33px;
    }

    .header-section-left-paragraph {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        padding: 0 33px;
    }

    .header-section-left-button {
        width: 161px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        background-color: #DD0000;
        border-radius: 5px;
        padding: 8px 12px;
        color: #FFFFFF;
    }

    .header-section-right {
        margin-left: 63px;
        margin-right: 38px;
    }

}

/* media query for footer section for mobile view  */

@media only screen and (max-width: 688px) {}